@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
.homebar {
    width: 100vw;
    height: 80px;
    background-color: #2D2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.container {
    height: 70px;
    width: 100%;
    color:  #E47B4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-family: 'Fira Sans', sans-serif;
}
.name {
    font-size: 30px;
    font-weight: bolder;
}

.container-links{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.bar-links {
    margin: 10px;
    color: #E47B4E;
    text-decoration: none;
}
.bar-links:hover {
    color: #A1E44D;
}

.logout {
    font-size: 25px;
    font-weight: bold;
}