* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .dashboard {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #D6D5C9;
  }

  .container-d {
      width: 100%;
      height: 80%;
      margin-top: -100px;
  }